html {
    overflow-y: scroll;
    font-size: 10px;
}

@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(10px + 2 * (100vw - 375px) / 39);
    }
}

@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(10px + 4 * (100vw - 414px) / 586);
    }
}

@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(10px + 4 * (100vw - 600px) / 400);
    }
}

@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(5px + 6 * (100vw - 1000px) / 1000);
    }
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, "Source sans pro", "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti";
    color: #534847;
    background-color: #fff;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

a {
    color: #534847;
    text-decoration: none;
    border-style: none;
}

a:hover {
    background-color: rgb(252, 238, 231) !important;
    border-style: none !important;
    border-radius: 2px;
}

a:link {
    text-decoration: none;
    border-color: #888;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    background-color: inherit;
    padding: 3px 0 2px 0;
}

a:visited {
    border-color: #999;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    background-color: inherit;
    padding: 3px 0 2px 0;
}


a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}


hr {
    margin: 0.7em 0;
    /* border-top: 1px dashed #d0d0d0; */
    border-bottom: 1px dashed #888;
}

p {
    padding: .5em 0;
    /* display: inline-block; */
}

li {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style-position: inside;
}

ol ul,
ul ol,
ul ul,
ol ol {
    margin-left: 2em;
}

pre code {
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 2em;
    display: block;
    color: #eee;
}

pre p {
    padding: 0 0;
}

pre,
code {
    font-family: Menlo, "Andale Mono", Consolas, "Courier New", Monaco, monospace;
    font-size: 1em;
}

pre {
    overflow: auto;
}

pre p code {
    background-color: #282B35;
}

p code,
li code {
    background-color: rgb(252, 238, 231);
    border-radius: 2px;
    color: #9B8281;
    padding: 0 .2em;
}

blockquote {
    display: block;
    text-align: justify;
    border-left: 1px solid #999;
    /* border-radius: 5px; */
    word-wrap: break-word;
    word-break: break-all;
}

blockquote {
    margin: 1em .5em;
    padding: 0 1em;
    /* padding-left: 1.5em; */
    /* background-color: #323335; */
}

blockquote p {
    margin: 0;
    padding: .5em 0;
}

.highlight {
    border-radius: 5px;
}

#container {
    width: 45em;
    margin: 5em auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
}

#container ul {
    margin-bottom: 2em;
}

.content {
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 1px;
    /* word-wrap:break-word;
    word-break:break-all; */
}

.content h1 {
    padding: .5em 0;
}

.content img {
    max-width: 100%;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    -webkit-box-shadow: #999 1px 1px 5px;
    -moz-box-shadow: #999 1px 1px 5px;
    box-shadow: #ddd 1px 1px 5px;
}

.listing-item,
.listing-seperator {
    list-style-type: none;
}

.listing-item a {
    /* padding-right: .8em; */
    letter-spacing: 1px;
    text-decoration: none;
    border-style: none;
}

.listing-item time {
    color: #aaa;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-left: 2em;
}

.listing-seperator {
    /* font-weight: bold; */
    text-transform: uppercase;
    margin: 3em 0 .5em;
    letter-spacing: 1px;
    color: #aaa;
}

.meta {
    text-align: right;
    font-size: 1em;
}

.pageNav {
    /* font-weight: bold; */
    margin-top: 4em;
    font-size: .8em;
    list-style: none;
}

.pageNav .pagePre {
    /* font-weight: bold; */
    font-size: 1em;
    /* color: #534847; */
}

.pageNav .pageNext {
    /* font-weight: bold; */
    font-size: 1em;
    /* color: #534847; */
}

/* header {
    padding: 4em 0;
    color: #534847;
    border-bottom: 1px solid #cccccc;
} */

.nav {
    /* font-family: Verdana, "Source sans pro", sans-serif; */
    font-size: 1.1em;
    text-transform: uppercase;
    float: left;
    margin-left: -10em;
    /* width: 9em; */
    text-align: right;
    margin-top: 2.4em;
    /* padding: .74em 0; */
}

.nav a {
    font-weight: bold;
    color: #534847;
    letter-spacing: 1px;
    text-align: right;
    text-decoration: none;
    border-style: none;
    /* padding: 0 0.2em; */
}

.nav li {
    list-style: none;
    padding-bottom: 1.2em;
}

.nav a:hover {
    text-decoration: none;
    color: #534847;
    background-color: rgb(110, 110, 103, 0.5);
}

.site-title {
    font-size: 3em;
    font-weight: bold;
    border-style: none !important;
}

.site-sub {
    margin: 1em 0;
    display: block;
}

.post {
    max-width: 45em;
    margin-top: 2.8em;
}

.post .page-title,
.post-preview .post-title {
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 0.8em;
    letter-spacing: 1px;
}

.page-time,
.post-preview .post-time {
    padding: 0.4em 0;
    color: #aaa;
    font-size: .8em;
}

h1 {
    font-family: Verdana, "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #534847;
    font-size: 1.6em;
}

h2 {
    font-family: Verdana, "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 1.4em;
    color: #534847;
    margin-top: 0.5em;
}

h3 {
    font-family: Verdana, "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 1.2em;
    color: #534847;
}

h4 {
    font-family: Verdana, "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 1em;
    color: #534847;
}

footer {
    display: block;
    margin: 5em 0 0;
    text-align: left;
}

footer small {
    font-size: 1em;
    color: #999;
}

footer .foot-date a {
    color: #999;
}

.paginator {
    font: 1em Verdana, Arial, Helvetica, sans-serif;
    color: #AAA;
    margin: 2em 0;
    line-height: 150%;
    display: block;
}

.paginator a,
.paginator span {
    padding: 0 0.5em;
    margin: 0.2em;
    text-decoration: none;
}

.paginator .current-page {
    color: #282B35;
    background: #534847;
}

.paginator a:hover {
    color: white;
}

.post-preview {
    margin-top: 2.8em;
    line-height: 2em;
}

.post-content-preview {
    margin-bottom: 6em;
}

*::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 0 0.5em rgba(40, 43, 53, 0.5);
    background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.5em rgba(40, 43, 53, 0.5);
    /* border-radius: 0px; */
    background: rgba(0, 0, 0, 0.2);
}