<footer>
    <p><small>Copyright © 2016-{{site.time | date:"%Y"}} by <a href="/colophon/">Tickmao</a>
            <span class="foot-date">• 网站已运行 <a>?</a> 天 <a>?</a> 小时 <a>?</a> 分 <a>?</a> 秒.</span></small></p>
</footer>

<!-- jQuery -->
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ '/js/highlight.js' | prepend: site.baseurl }}"></script>

<!-- Gittalk JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<!-- async load function -->
<script>
    function async (u, c) {
        var d = document,
            t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) {
            o.addEventListener('load', function (e) {
                c(null, e);
            }, false);
        }
        s.parentNode.insertBefore(o, s);
    }
</script>

<!-- foot date -->
<script>
    function run_date(date) {
        // 建站日期
        var created = Date.parse(date);
        // 现在时间
        var now = new Date().getTime();
        // 存活时间
        var cha = now - created;
        // 有多少天
        var day = cha / 864e5;
        // 取整数输出天
        var day_c = Math.floor(day);
        // 减去整数的天，得出剩下的小数，并变成小时（1 天等于 24 小时）
        var hour = 24 * (day - day_c);
        // 取整数输出小时
        var hour_c = Math.floor(hour);
        // 减去剩下的小时，得出剩下的小数，几分钟（1小时等于60分）
        var min = 60 * (hour - hour_c);
        // 取整数输出分钟
        var min_c = Math.floor(min);
        // 剩下的就是秒，直接取整
        var sec = Math.floor(60 * (min - min_c));
        return "• 网站已运行 <a>" + day_c + "</a> 天 <a>" + hour_c + "</a> 小时 <a>" + min_c + "</a> 分 <a>" + sec + "</a> 秒.";
    }

    function add_zero(num) {
        if (num.toString().length < 2) {
            num = "0" + num;
        }
        return num;
    }
    setInterval(function () {
        document.querySelector(".foot-date").innerHTML = run_date("2017/10/27");
    }, 1000);
</script>