<!-- Sidebar Container -->
<nav class="nav">
    <ul>
        <li><a title="Home Page,ProductTour" href="/">Home</a></li>
        <li><a title="Previously,on ProductTour" href="/archive/">ARCHIVE</a></li>
        <li><a title="Software Projects,inclouding some slie porjects I had done" href="/project/">PROJECT</a></li>
        <li><a title="How to send mail to Producter" href="/contact/">CONTACT</a></li>
        <li><a title="About this site" href="/colophon/">COLOPHON</a></li>
        <li><a title="See the articals by other ways,such as 'Read Later'" href="{{site.url}}/feed" target="_blank">RSS
                FEED</a></li>
        <li><a title="Twitter info for the site Author" href="https://twitter.com/Tick_puppet"
                target="_blank">Twitter</a></li>
    </ul>
</nav>